@font-face {
    font-family: 'iconfont';
    src: url('//at.alicdn.com/t/font_1475861895_9367437.eot'); /* IE9*/
    src: url('//at.alicdn.com/t/font_1475861895_9367437.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//at.alicdn.com/t/font_1475861895_9367437.woff') format('woff'), /* chrome、firefox */
    url('//at.alicdn.com/t/font_1475861895_9367437.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/font_1475861895_9367437.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont{
    font-family:"iconfont";
    font-size:50px;font-style:normal;}