<ion-view title="商品详情" hide-nav-bar="true">
  <div class="bar bar-header bar-balanced " style="background:#ff4c89;">
    <h1 class="title">商品详情</h1>
  </div>
  <ion-nav-back-button>
  </ion-nav-back-button>
  <ion-content>
    <img ng-src={{mall.goodsListImg}} alt="">
    <span ng-click="bigImg()">大图</span>
    <span ng-click="share()">分享</span>
    	<span ng-click='joinCar()'>加入购物车</span>
    <script id="bigImg.html" type="text/ng-template">
      <style>
        .scroll {
          height:100% !important;
        }
      </style>
      <div class="modal">
        <ion-header-bar>
          <h1 class="title">大图显示 <span ng-click="modal.hide()">关闭</span>
          
          </h1>
        </ion-header-bar>
        <ion-content>
          <ion-slide-box style="width:100%;height:100%">
            <ion-slide ng-repeat="img in bimgs">
              <div class="box blue" ng-style="img|bigFilter"></div>
            </ion-slide>

          </ion-slide-box>
        </ion-content>
      </div>
    </script>

  </ion-content>
</ion-view>




